body{
    margin: 0;
    padding: 0;
}
*
{
    scroll-behavior: smooth;
}
.navbar
{
    display: flex;
    box-shadow: 5px 5px 10px 1px gray;
    height: 70px;
    position: sticky;
    top:0;
    background-color:white;
   
   
}
.navbarlinks
{
    text-decoration: none;
    color: black;
    padding-left: 25px;
    font-size: 20px;
}
.nav
{
    margin-top: 20px;
    margin-left: 300px;
}
.name-heading
{
    margin-left: 200px;
    font-size: 28px;
    font-weight:700;
}
.about-div
{
    margin-top: 150px;
    margin-left: 150px;
}
.span
{
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
}
.color-blue
{
    color:  #0000ff
}
.font-size
{
    font-size: 25px;
    font-weight: bold;
}
.profession-span
{
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
   padding-top: 10px;
}
.Mern-Developer
{      
    display: inline-block;
    font-size: 40px;
}
.portfolio-img
{
    height: 500px;
   margin-left: 150px;
   padding-top: 5px;
}
.display
{
    display: flex;
    margin-left: 90px;
}
.btn
{
    text-decoration: none;
    background-color: black;
    padding: 8px 13px 8px 13px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
   
}
.link
{
    text-decoration: none;
    color: white;  
}

.icons
{
    height: 20px;
}
.project
{
    text-align: center;
    font-size: 50px;
}
.cards-container
{
    display: flex;
    justify-content: space-evenly;
}
.card
{
    border: 2px solid black;
    height: 401px;
    width: 449px;
    margin-bottom: 50px; 
    border-radius: 10px;
}
.padding
{
    padding-left: 20px;
}
.project-img
{
    /* height: 300px; */
    width: 420px;
    border: 2px solid grey;
    margin-top: 10px;
    border-radius: 10px;
     display: block;
    margin-left: auto;
    margin-right: auto; 
}
.color-grey
{
    color:grey;
}
.about-me
{
    border: 2px solid black;
    height: 70px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: 	 #999999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    font-size:23px;
    font-weight: 200;

}
.main-card-container
{
    display: flex;
    justify-content: space-evenly;
}
.skills-card
{
    border: 2px solid black;
    /* height: 200px; */
    width: 150px;
    padding: 15px ;
   margin-bottom: 50px; 
   background-color: #99ccff;
   border-radius: 5px;
    box-shadow: 10px 10px 10px 1px grey;
}

.skills-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 25px;
    padding-left: 37px;
    padding-bottom: 25px; */
    height: 100px;
}

 @media screen and (min-width: 360px) and (max-width: 740px) {

   
    


} 